<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- PEP安装路径 -->
    <add key="PEPPath" value="C:\AIRBUS\"/>
    <!-- GS安装路径 -->
    <add key="GSPath" value="C:\AIRBUS\ADDINN"/>
    <!-- GS安装路径 -->
    <add key="OutputPath" value="D:\TLO\"/>
    
    <add key="DAL" value="AOC.Perf.OleDbDAL"/>
  </appSettings>
  <connectionStrings>
    <add name="AptDBPath" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\ProjectsTest\MultiCaculateSolution\AptMgr.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>

</configuration>